.lgrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    /* height: 550px; */
    width: 80%;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 40px;
    gap: 10px;
}

.gridCard{
   /* border: 1px solid black; */
   margin-top: 50px;
   
   box-sizing: border-box;
}
.Img{
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 310px;
    height: 300px;
}
.gridCard>p{
    text-align: center;
}