.main{
    
}
.container {
    border: 1px solid red;
    width: 70%;
    text-align: center;
    height: auto;
    margin: auto;
    display: flex;
    gap: 40px;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom:2%;
    padding: 20px;
}

.containerLeft>img{
    border-radius:7px;
    
}
.containerRight {
    text-align: left;
}